.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 80rem;
  height: 30rem;
  @media (max-width: $desktop-breakpoint) {
    width: 30rem;
    height: 35rem;
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-layout__title--small {
  line-height: 3;
  font-size: $font-size-small;
}

.box-layout__optionals {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  @media (max-width: $desktop-breakpoint) {
    margin-top: 0;
  }
}
