// Colors
$dark-grey: #333;
$grey: #666;
$dark-white: #f7f7f7;
$blue: #1c88bf;
$dark-blue: #0a6694;
$darker-blue: #364051;
$red: #ff0000;
$green: #60be3b;
//Font 
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-vsmall: 1.2rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;